{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hunti</title>
    <link href="{% static 'output.css' %}" rel="stylesheet" />
    <script src="{% static 'jquery-3.6.1.min.js' %}"></script>
  </head>
  <body class="bg-black">
    <div id="container" class="text-white bg-black">
      {% for tweet in data %}
      <div>
        <!-- Foto de perfil , nombre y nombre de usuario -->
        <div class="flex p-4">
          <div class="w-14">
            <img class="object-cover w-12 h-12 rounded-full" src="{{tweet.profile_photo}}" alt="" />
          </div>
          <div class="flex-row pl-1.5 w-full">
            <h1 class="flex items-center font-semibold">
              {{tweet.name}} {% if tweet.user_is_verified %}
              <svg class="w-5 h-5" style="fill: #1d9bf0" viewBox="0 0 24 24" aria-label="Cuenta verificada" role="img" data-testid="icon-verified">
                <g><path d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z"></path></g>
              </svg>
              {% endif %}
            </h1>
            <p class="text-gray-400">@{{tweet.username}}</p>
          </div>
          <div>
            <img class="w-8 h-8" src="{% static 'twitter.png' %}" alt="" />
          </div>
        </div>
        <!-- texto del tweet-->
        {% if tweet.text %}
        <div id="text" class="px-4 text-2xl">{{tweet.text}}</div>
        {% endif %}
        <!-- Mostrar las imagenes -->
        {% if tweet.media %}
        <div class="flex-row px-4">
          {% for img in tweet.media %}
          <img class="w-full mt-4 rounded" src="{{img}}" alt="image" />
          {% endfor %}
        </div>
        {% endif %}
        <!-- Mostrar encuestas -->
        {% if tweet.poll %}
        <div id="poll" class="flex-row px-4 text-2xl">
          {% for option in tweet.poll %}
          <div class="flex mt-1">
            <div class="min-h-[2.5rem] rounded w-full">
              {% if option.first %}
              <div class="flex items-center w-10 h-full rounded vote-bg bg-[#145D8E]">
                <span class="absolute pl-3 font-semibold text-white w-max"> {{option.text}} </span>
              </div>
              {% else %}
              <div class="flex items-center w-10 h-full rounded vote-bg bg-[#333639]">
                <span class="absolute pl-3 text-white w-max"> {{option.text}} </span>
              </div>
              {% endif %}
            </div>
            {% if option.first %}
            <div class="flex items-center justify-end w-16 font-semibold">
              <span class="pr-1 vote-count">{{option.votes}}</span>
              <span>%</span>
            </div>
            {% else %}
            <div class="flex items-center justify-end w-16">
              <span class="pr-1 vote-count">{{option.votes}}</span>
              <span>%</span>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <!-- mostrar web -->
        {% if tweet.web and not tweet.media %}
        <div class="flex-row mx-4 mt-1 text-white rounded bg-zinc-900">
          {% if tweet.web.image %}
          <img class="rounded-t-2xl" src="{{tweet.web.image}}" alt="" />
          {% endif %}
          <div class="p-2">
            <div id="domain" class="text-gray-400">{{tweet.web.domain}}</div>
            <div class="text-lg">{{tweet.web.title}}</div>
            <div class="text-lg">{{tweet.web.description}}</div>
          </div>
        </div>

        {% endif %} {% if tweet.embedded.created %}
        <div class="mx-4 mt-2 border border-gray-600 rounded">{% include "black_embedded.html" %}</div>
        {% endif %}

        <!-- Fecha de creado del tweet -->
        <div id="date" class="p-4 text-gray-500">{{tweet.created}}</div>
      </div>

      {% endfor %}
    </div>

    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
